/* ROBOTO FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

#root {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}

.main {
  min-height: 100vh;
  width: 100vw;
}

.main .Carousel, .carousel-inner {
  height: 40vh;
}

.alimentos-top-container {
  height: 40vh;
  display: flex;
  overflow-x: auto;
}

.alimentos-top-container article {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.alimentos-top-container article img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.alimentos-top-container article p {
  margin: 0 auto;
}

.category {
  min-height: 100vh;
  width: 100vw;
}

.card-category {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-category article {
  flex: 0 0 60%;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px 0;
}

.card-category article img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  filter: grayscale(70%);
  vertical-align: middle;
}

.card-category article p {
  margin: 0;
  color: rgb(92, 255, 92);
  font-weight: 800;
  position: absolute;
  top: 50%; width: 100%; text-align: center;
}

.alimentos-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}