/* ROBOTO FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* #root {
  overflow: hidden;
} */

#root {
  background: #f3f3f3;
  min-height: 100vh;
  scroll-behavior: smooth;
  --main-color: #FF9800;
  --font: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: 'Roboto', sans-serif;
}






/* HEADER COMPONENT */

header {
  height: 55px;
  width: 100vw;
  background: var(--main-color);
  position: sticky;
  top: 0;
  z-index: 5;
}

header nav {
  height: 100%;
  width: 100%;
}

header nav ul {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  height: 30px;
  width: auto;
  margin: 0 10px;
}

header nav ul li img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(0%) saturate(204%) hue-rotate(85deg) brightness(113%) contrast(100%);
}

header nav ul li form {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav ul li form input {
  border: none;
  outline: none;
  height: 30px;
  width: 50vw;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0 10px;
  color: #919191;
}

header nav ul li form button {
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
  background-image: url("./img/busqueda.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #585656;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  filter: invert(100%) sepia(0%) saturate(204%) hue-rotate(85deg) brightness(113%) contrast(100%);
}




/* HOME COMPONENT */
main {
  background: #EFEFEF;
}

main .carousel{
  background-image: url("https://www.terrazasdemayo.com.ar/images/imagenes/76/nutrican_local.jpg");
  height: 30vh;
}







/* TRADEMARKS COMPONENT */
.section-trade-marks {
  width: calc(100vw - 20px);
  min-height: 50vh;
  padding: 0px 10px 50px 10px;
  text-align: center;

}

.section-trade-marks h1 {
  margin: 25px 0;
  color: var(--main-color);
  
}

.trade-marks {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.trade-marks article {
  height: 150px;
  width: calc(50% - 5px);
  background: #FFFFFF;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.trade-marks article img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}







/* CATEGORY COMPONENT */

.section-category {
  width: calc(100vw - 20px);
  height: auto;
  padding: 30px 10px;
  text-align: center;
  background: var(--main-color);
}

.section-category h2 {
  margin: 0 0 15px 0;
  color: #FFFFFF;
  font-weight: 500;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section-category article {
  height: 180px;
  width: calc(50% - 5px);
  background: #FFFFFF;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
  text-align: center;
}

.category article img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.section-category article p {
  margin: 0 auto 10px auto;
  color: var(--main-color);
  width: 90%;
  font-size: 14px;
}

.section-category article button {
  border: 1px solid var(--main-color);
  padding: 10px 15px;
  background: #FFFFFF;
  color: var(--main-color);
  text-transform: uppercase;
  transition: all 300ms ease-out;
}

.section-category article button:hover {
  color: #FFFFFF;
  background: var(--main-color);
}







/* QUESTIONS COMPONENT */

.section-questions {
  width: 100vw;
  min-height: 50vh;
  text-align: center;
  background: #FFFFFF
}

.section-questions article {
  width: 100vw;
  height: auto;
  padding: 30px 0;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid #979595;
}

.section-questions article img {
  width: 20%;
  height: 20%;
  margin: 0 auto;
}

.section-questions :nth-child(2) {
  filter: invert(58%) sepia(88%) saturate(1826%) hue-rotate(0deg) brightness(103%) contrast(103%);
}

.section-questions :nth-child(2) {
  border: none;
  justify-content: flex-start;
}

.section-questions article h2 {
  margin: 0;
}





/* FOOTER COMPONENT */
footer {
  width: calc(100vw - 20px);
  height: auto;
  padding: 30px 10px;
  background: #EFEFEF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h2 {
  color: var(--main-color);
  margin: 0 0 10px 0;
}

footer ul {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px 0 10px 0;
  padding: 0;
}

footer li img{
  width: 50%;
  height: auto;
}

footer li p {
  margin: 0;
  font-size: 12px;
  width: fit-content;
}

footer iframe {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border: 0;
}





/* FILTERSMENU COMPONENT */

.section-products {
  width: calc(100vw - 20px);
  min-height: 50vh;
  text-align: center;
  margin: 0 auto;
}

.products {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container-filters {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.container-filters .filters-menu{
  width: 100%;
  height: auto;
  background: none;
  border: 1px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-filters .filters-menu p {
  text-transform: uppercase;
  color: var(--main-color);
}

.container-filters .filters {
  margin-top: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.filter {
  margin: 5px 5px;
  height: 25px;
  width: auto;
  border: 1px solid var(--main-color);
  background: #FFFFFF;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.filter p {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  margin: 10px;
}

.filter button {
  height: 100%;
  padding: 0 10px;
  background: var(--main-color);
  border: none;
  color: #FFFFFF;
}



/* PRODUCTS COMPONENT */
.container-products {
  height: auto;
  width: 100%;
  margin: 10px auto;
}

.container-products article {
  width: 100%;
  height: auto;
  margin: 0 auto 20px 0;
  background: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  padding: 0px 0 20px 0;
}

.container-products article img {
  width: 30%;
  height: 40%;
  border-radius: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info p {
  width: fit-content;
}

.product-info :nth-child(1) {
  color: #6e6a6a;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
}

.product-info :nth-child(2) {
  margin: 0 0 10px 0;
}

.product-info :nth-child(3) {
  padding: 5px 15px;
  margin: 20px 0;
  background: var(--main-color);
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}

.product-info :nth-child(4) {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.product-info button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: green;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}







/* CART COMPONENT */
.section-cart {
  width: calc(100vw - 20px);
  min-height: 50vh;
  text-align: center;
  margin: 0 auto;
}

.cart-articles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.cart-articles article {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  
}

.cart-articles article p {
  width: fit-content;
}

.cart-articles article img {
  width: 25%;
  height: 25%;
}

.cart-product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart-product-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-product-count :nth-child(1) {
  margin-right: 10px;
}

.cart-product-count button {
  height: fit-content;
  margin: 0 5px;
  background: none;
  border: none;
  font-size: 18px;
}

.button-remove-product {
  background: none;
  border: none;
  font-size: 14px;
  color: #979595;
  margin-right: 10px;
}


/* MEDIA QUERYS */

@media (min-width: 600px) {

  .trade-marks article {
    width: 30%;
    border-radius: 5px;
  }
}

@media (min-width: 1000px) {
  .section-trade-marks {
    width: calc(90vw - 10vw);
    margin: 0 auto 50px auto;
  }

  .trade-marks {
    justify-content: space-between;
  }


  .trade-marks article {
    width: 22%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 25px;
  }

  .section-category {
    width: calc(100vw - 20vw);
    padding: 0 10vw 25px 10vw;
    margin: 0 auto 50px auto;
  }

  .section-category h2 {
    padding-top: 25px;
  }

  .category {
    width: calc(100vw - 20vw);
  }

  .category article {
    width: calc(30%);
    height: 150px;
  }
}